.media-item__imageContainer {
	position: relative;
	overflow: hidden;
}

.media-item__imageContainer .play {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
}

.media-item__imageContainer .play:hover {
	opacity: 1;
}

.media-item__imageContainer .play-btn {
	background: rgba(255, 255, 255, 0.25);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 9px 24px 9px 9px;
	gap: 20px;
}

.media-item__imageContainer .bookmark-btn {
	position: absolute;
	top: 16px;
	right: 16px;
	background: rgba(0, 0, 0, 0.55);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 32px;
	z-index: 10;
	transition: all 0.3s ease;
}

.media-item__imageContainer .bookmark-btn:hover {
	background: rgba(255, 255, 255);
}

.media-item__imageContainer .bookmark-btn:hover > img {
	filter: brightness(0) saturate(100%) invert(41%) sepia(5%) saturate(2996%)
		hue-rotate(186deg) brightness(97%) contrast(89%);
}
